*.jar

.paper-remapped
logs/*
world/
world_nether/
world_the_end/
.console_history
banned-ips.json
banned-players.json
ops.json
usercache.json
whitelist.json

plugins/bStats/
plugins/floodgate/key.pem
plugins/Geyser-Spigot/*
!plugins/Geyser-Spigot/config.yml
plugins/SkinsRestorer/*
!plugins/SkinsRestorer/config.yml